* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: #fff;
    line-height: 1.6;
  }
  
  header {
    background: #1f1f1f;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #00ffff;
  }
  
  header p {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 0.5rem;
  }
  
  nav {
    text-align: center;
    padding: 1rem;
    background: #181818;
  }
  
  nav a {
    color: #00ffff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 0.3rem 0.6rem;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #121212;
    background-color: #00ffff;
    border-radius: 5px;
  }
  
  
  section {
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: auto;
  }
  
  h2 {
    color: #00ffff;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
  }
  
  .skills li,
  .projects li {
    background: #1f1f1f;
    margin: 0.5rem 0;
    padding: 1rem;
    border-left: 4px solid #00ffff;
  }
  
  .contact p {
    margin: 0.5rem 0;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #1f1f1f;
    color: #aaa;
  }
  
  .about {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .profile-pic {
    width: 350px;
    height: 420px;
    border-radius: 90px;
  }
  
  .about-text {
    flex: 1;
  }
  